$fa-font-path: "../../../fonts";
$icon-font-path: "../../../fonts/bootstrap/";

$header-height: 50px;
$menu-width: 235px;

$breakpoints: (
	'mobile-portrait': 	'(max-width: 479px)',
	'tablet-portrait': 	'(max-width: 768px)',
	'mobile-landscape': '(max-width: 800px)',
	'tablet': 			'(max-width: 1024px)',
	'desktop': 			'(min-width: 1025px)',
	'desktop-hover':	'(min-device-width: 1025px)',
	'desktop-high':		'(min-height: 1000px)',
);