.user {

	.holder {
		float:left;

		img {
			border-radius: 50px;
			height: 100px;
		}
	}
		
	.user-data {
		min-height: 100px;
		padding-left: 120px;
	}

	.browser {
		float: left;
		width: 75px;
		height: 75px;

		svg {
			width: 100%;
			height: 100%;

		}
	}

	.map {
		width: 512px;
		@include height-ratio(90%);
	}
}