
body {
	font-family: Hero;
	font-size: 25px;
}

section {
	width: 100%;
	background-color: #FFF;
}

.content {
	min-height: 100vh;
	width: 1000px;
	margin: auto;
	padding: 50px 30px;
}

.hero {
	height: 100vh;
	background-color: transparent;

	.background {
		height: 100vh;
		position: fixed;
		top:0px;
		left: 0px;	
		width: 100%;
		z-index: -1;
		background-size: cover;
		background-position: center center;
	}

}

.parallax {
    height: 60%;
    background: transparent;
}

.parallax-slider {
	img {
    	width: 100%;
    }
}

.parallax-heading {
	position: absolute;
	top: 34%;
	margin-top: -40px;
	left: 50%;
	margin-left: 7px;
	font-size: 80px;
	color: #FFF;
}

.heading {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	font-size: 60px;
	right: 50%;
	margin-right: 7px;
	color: #FFF;
}

.footer-top {
	height: 70px;
	background-color: #000;
	background-image: url('../../../images/bamboo-top.jpg');
}

.footer {
	background-color: #333;
	background-image: url('../../../images/bamboo.jpg');
	background-repeat: repeat-x;

	.content {
		min-height: 300px;
	}
}

.card {
	margin-top: 50px;
	width: 700px;
	margin: auto;
	background-image: url('../../../images/rip.jpg');
	background-position: left;
	background-repeat: no-repeat;
	background-color: #000;
	min-height: 900px;
	color: #FFF;
	padding-top: 100px;

	.dish {
		height: 41px;
		width: 100%;
		padding: 7px 100px 7px 130px;
		border-top: 1px solid rgba(255,255,255, 0.7);

		&:last-child {
			border-bottom: 1px solid rgba(255,255,255, 0.7);
		}
	}

	.price {
		width: 70px;
		float: right;
		padding: 7px 0px;
	}

	.left-line {
		position: absolute;
		width: 120px;
		top: 0px;
		bottom: 0px;
		left: 0px;
		border-right: 1px solid #FFF;
	}

	.right-line {
		position: absolute;
		width: 80px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		border-left: 1px solid rgba(255,255,255, 0.5);
	}
}

.handle {
	position: absolute;
	width: 140px;
	height: 50px;
	background-color: #FFF;
	left: 50%;
	bottom: 0px;
	margin-left: -70px;
	transform: rotate(180deg);
	background: transparent url(../../../images/handle.svg) no-repeat center center scroll;
    color: #FFFFFF;

    .chevron {
    	width: 7px;
    	height: 7px;
    	border-left: 1px solid #000;
    	border-top: 1px solid #000;
    	transform: rotate(45deg);
    	position: absolute;
    	left: 50%;
    	margin-left: -5px;
    	bottom: 20px;
	    transition: all .2s linear;
    }

    &:hover .chevron {
    	width: 15px;
    	height: 15px;
    	margin-left: -9px;
    	bottom: 10px;
    }
}