
.builder {
	.ui-sortable-helper {
    	display: table;
    }

    tr {
    	td:last-child {
    		width: 5px;
    		white-space: none;
    		word-break: none;
    	}
    }
}

.builder-modal {

    .values {

        .drag-handle {
            margin-top: 5px;
            cursor: hand;
        }
    }
}