@font-face {
	font-family: 'Code';
	src: url('../../../fonts/CODE Bold.eot'); /* IE9 Compat Modes */
	src: url('../../../fonts/CODE Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../../fonts/CODE Bold.woff') format('woff'), /* Modern Browsers */
		url('../../../fonts/CODE Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../../../fonts/CODE Bold.svg#ddf2a027830884e4f0684fdab3b8518e') format('svg'); /* Legacy iOS */
	   
	font-style:   bold;
	font-weight:  default;
}

@font-face {
	font-family: 'Code';
	src: url('../../../fonts/CODE Light.eot'); /* IE9 Compat Modes */
	src: url('../../../fonts/CODE Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../../fonts/CODE Light.woff') format('woff'), /* Modern Browsers */
		url('../../../fonts/CODE Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../../../fonts/CODE Light.svg#df838d10753ef83b07b73ceb962b3ea2') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  200;
}

@font-face {
	font-family: 'Hero';
	src: url('../../../fonts/Hero.eot'); /* IE9 Compat Modes */
	src: url('../../../fonts/Hero.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../../fonts/Hero.woff') format('woff'), /* Modern Browsers */
		url('../../../fonts/Hero.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../../../fonts/Hero.svg#ddf2a027830884e4f0684fdab3b8518e') format('svg'); /* Legacy iOS */
	   
	font-style:   bold;
	font-weight:  default;
}

@font-face {
	font-family: 'Hero';
	src: url('../../../fonts/Hero Light.eot'); /* IE9 Compat Modes */
	src: url('../../../fonts/Hero Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../../fonts/Hero Light.woff') format('woff'), /* Modern Browsers */
		url('../../../fonts/Hero Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../../../fonts/Hero Light.svg#df838d10753ef83b07b73ceb962b3ea2') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  200;
}