/**
 * Breakpoint
 * @param {string} $name - Name of the breakpoint used in $breakpoints
 */
@mixin breakpoint($name) {
	@if map-has-key($breakpoints, $name) {
		@media #{map-get($breakpoints, $name)} {
			@content;
		}
	}
}

/*
// Breakpoint sizes as defined in variables
$breakpoints: (
	'mobile-portrait': 	'(max-width: 479px)',
	'tablet-portrait': 	'(max-width: 768px)',
	'mobile-landscape': '(max-width: 800px)',
	'tablet': 			'(max-width: 1024px)',
	'desktop': 			'(min-width: 1025px)',
	'desktop-hover':	'(min-device-width: 1025px)',
	'desktop-high':		'(min-height: 1000px)',
);

// Workings

div.class {
	width: 1000px;

	@include breakpoint('mobile-portrait') {
		// your css. Example:
		width: 320px;
	}
}
*/