.nested {
	margin-top: 20px;
	padding: 0px;

	li {
		list-style: none;
	}

	.item {
		background-color: #EEE;
		margin-bottom: 5px;
		color: $color-font-primary-default;
		padding: 5px;
		position: relative;
		border: 1px solid $color-tertiary;
		border-radius: 5px;
		cursor: move;
	}

	.options {
		position: absolute;
		right: 10px;
		top: 4px;
	}

	.mjs-nestedSortable-error {
		background-color: #F2DEDE;
	}

	.placeholder {
		height: 32px;
		width: 100%;
		border: 1px dashed #000;
		display: block;
		visibility: visible !important;
		padding: 5px;
		margin-bottom: 5px;
		border-radius: 5px;
	}

}