.model .gallery {		


	.items-inner {
		margin: 0 auto;
		margin-top: 45px;
		pointer-events: none;

		&:after { 
			content: " ";
			display: block; 
			height: 0; 
			clear: both;
		}


		.item {
			float: left;
			height: 100px;
			width: 100px;
			overflow: hidden;
			margin: 5px;
			cursor: pointer;
			position: relative;
			pointer-events: auto;

			img {
				width: 100px;
				height: 100px;
			}

			// dropzone upload placeholder
			.dz-progress {
				position: absolute;
				width: 100px;
				height: 100px;
				top: 0;
				z-index: 3;

				.dz-upload {
					width: 100%;
					height: 100px;
					background-color: rgba(255,255,255,0.75);
					float: right;
				}
			}

			&.dz-error .dz-progress {
				background-color: rgba(255,0,0,0.5);

				.dz-upload {
					width: 0px;
				}
			}
		}
	}

	@for $i from 1 through 20 {
		@media screen and (min-width: #{($i * 115) - $i}px) {
			.items-inner {
				width: #{$i * 110}px
			}
		}
	}
}