.image {
	transition: all 1s;

	.preview {
		img {
			width: 120px;
			cursor: pointer;
		}
	}

	.delete-image {
		cursor: pointer;
		position: absolute;
		top: 3;
		left: 3;
		display: none;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		background-color: rgba(255,255,255,0.5);
	}

	&.drag {
		
		background-color: #FFF;
		opacity: 1;

		.modal-content {
			opacity: 0;
		}

		.image-drop {
			position: absolute;
			display: block;
			top: 20px;
			left: 20px;
			bottom: 20px;
			right: 20px;
			border: 3px dotted #333;
			user-select: none;
			pointer-events:none;
			text-align: center;
			padding-top: 100px;
			border-radius: 5px;
			font-size: 30px;
		}
	}

	&.modal {

		.tab-pane {
			min-height: 400px;
		}
	}

	.image-drop {
		display: none;
	}

	.extra {
		float: right;
		width: calc(100% - 120px);
	}
}