.nested {
	margin-top: 20px;
	padding: 0px;

	li {
		list-style: none;
	}

	.item {
		background-color: $navbar-default-bg;
		margin-bottom: 5px;
		color: $btn-default-color;
		padding: 5px;
		position: relative;
		border: 1px solid $btn-default-border;
		border-radius: 5px;
		cursor: move;
	}

	.options {
		position: absolute;
		right: 10px;
		top: 4px;
	}

	.mjs-nestedSortable-error {
		background-color: $btn-warning-bg;
	}

	.placeholder {
		height: 32px;
		width: 100%;
		border: 1px dashed $btn-default-color;
		display: block;
		visibility: visible !important;
		padding: 5px;
		margin-bottom: 5px;
		border-radius: 5px;
	}

}