.footer {
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 35px;
	width: calc(100% - 235px);
	border-top: 1px solid $default-border;
	background-color: $body-bg;
	overflow: hidden;

	@include breakpoint('tablet-portrait') {
		width: 100%;
    }
	
	.version {
		margin-top: 8px;
		margin-right: 10px;
		float: right;
	}

}