.menu {
	
	&.menu-vertical {
		position: relative;
		overflow: auto;
		// font-family: verdana;
		font-size: 12px;
		font-weight: 200;
		background-color: $navbar-inverse-bg;
		position: fixed;
		top: 0px;
		width: $menu-width;
		height: 100%;
		color: $navbar-inverse-brand-color;
		// width: 100%;
    	margin-bottom: 10px;
    	display: block;

    	@include breakpoint('tablet-portrait') {
    		display: none;
    		position: fixed;
    		top: 50px;
    		z-index: 100;
    		width: 100%;
    	}

    	&.closed {
    		width: 20px;
    	}

    	#site-selector {
			width: 100%;
			height: 100%;
			border: none;
			border-radius: 0px;
			padding: 0px 30px 0px 15px;
			background-color: transparent;
			color: inherit;
			outline: none;
			margin: none;
			-webkit-appearance:none;
			appearance:none;
		}

		.brand {
			height: $header-height;
			background-color: transparent;
			line-height: $header-height;
			display: block;
			text-align: center;
			font-size: 14px;
			text-align: left !important;
			font-size: 22px;
			padding-left: 10px;
			overflow: hidden;
			position: relative;
			border-bottom: 1px solid $navbar-inverse-link-disabled-color;
			color: $link-color;

			& .chevron:after {
				position: absolute;
				right: 10px;
				top: 0px;
				color: inherit;
				font-family: FontAwesome;
				content: "\f078";
				font-size: 12px;
			}
		}

		.toggle-btn {
			display: none;
		}

		.menu-list {
			.menu-content {
				display: block;
			}

			.menu-content, .sub-menu {
			    padding-left: 0px;
			}
		}

		li {
			background-color: $navbar-inverse-bg;
			list-style: none;
			padding: 0px;
			margin: 0px;
			line-height: 35px;
			cursor: pointer;
			position: relative;
			padding-left: 0px;
			border-left: 3px solid $navbar-inverse-link-disabled-color;
			border-bottom: 1px solid $navbar-inverse-link-disabled-color;

			&.active {
				border-left: 3px solid $link-color;
				background-color: $navbar-inverse-border;

				a {
					cursor: pointer;
					color: $link-color;
				}

				&:hover {
					background-color: $navbar-inverse-link-hover-bg;
				}
			}

			a {
				text-decoration: none;
				color: $navbar-inverse-link-color;
				width: 100%;
				display: block;

				i {
					padding-left: 10px;
					width: 20px;
					padding-right: 20px;
				}
			}

			&:hover {
				border-left: 3px solid $link-color;
				background-color: darken($navbar-inverse-bg, 5%);
				-webkit-transition: all 1s ease;
				-moz-transition: all 1s ease;
				-o-transition: all 1s ease;
				-ms-transition: all 1s ease;
				transition: all 1s ease;
			}
		}

		ul :not(collapsed) .arrow:before, li :not(collapsed) .arrow:before {
			font-family: FontAwesome;
			content: "\f078";
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			vertical-align: middle;
			float: right;
		}

		.sub-menu {

			li a {
				padding-left: 50px;
			}

			li.active, li.active a {
				color: $link-color;
			}

			li {
				background-color: darken($navbar-inverse-bg, 15%);
				border: none;
				line-height: 28px;
				border-bottom: 1px $navbar-inverse-border;
				margin-left: 0px;
			}

			li:hover {
				background-color: darken($navbar-inverse-bg, 5%);
			}

			li:before {
				font-family: FontAwesome;
				content: "\f105";
				display: inline-block;
				padding-left: 30px;
				padding-right: 10px;
				vertical-align: middle;
				position: absolute;
				top: 0px;
			}
		}

		.quick {
			height: 35px;
			width: 100%;
			position: absolute;
			bottom: 0;

			a {
				color: #e1ffff;
				width: 25%;
				height: inherit;
				display: block;
				float: right;
				text-align: center;
				line-height: 45px;
				background-color: #23282E;

				&:hover {
					color: $navbar-inverse-link-color;
				}
			}
		}

	}
}

