.paginate {
	
	&.paginate-bottom {
		position: fixed;
		bottom: 0px;
		right: 0px;
		height: 35px;
		width: calc(100% - 235px);
		border-top: 1px solid $default-border;
		background-color: $body-bg;
		overflow: none;

		@include breakpoint('tablet-portrait') {
			width: 100%;
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
	    }

		.pagination {
			margin: 0px;
			white-space:nowrap;

			li {
				a, span {
					border: none;
					border-radius: 0px;
					color: $layout-color;
					height: 35px;
					width: 35px;
					border-right: 1px solid $default-border;
					background-color: transparent;
					text-align: center;
				}

				a {
					cursor: pointer;
				}

				&.active {
					span {
						color: $default-border;
					}
				}
			}
		}
	}

}