.subheader {
	width: calc(100% + 30px);
	min-height: 35px;
	background-color: $body-bg;
	margin-top: -20px;
	margin-left: -15px;
	// border-bottom: 1px solid $default-border;
	margin-bottom: 50px;
	position: relative;

	.line {
		position: absolute;
		width: 100%;
		bottom: 0px;
		border-bottom: 1px solid $default-border;

		&.middle {
			bottom: 35px;
		}
	}

	&:after { 
		content: " ";
		display: block; 
		height: 0; 
		clear: both;
	}

	a {
		height: inherit;
		padding: 7px 20px;
		display: inline-block;
		border-right: 1px solid $default-border;
		border-bottom: 1px solid $default-border;
		color: $layout-color;

		@include breakpoint('mobile-portrait') {
			padding: 7px 7px;
		}

		&:hover {
			color: $layout-color;
			text-decoration: none;
			background-color: rgba(0,0,0,0.05);
		}

		&:active {
			background-color: $body-bg;
		}
	}

	.holder {
		display: inline-block;
		height: 35px;
		border-right: 1px solid $default-border;
		border-bottom: 1px solid $default-border;
		color: $layout-color;
		margin-top: 0px;
		vertical-align: top;
		margin-left: -4px;
		position: relative;

		.fa {
			line-height: 36px;
		}

		&:hover {
			background-color: rgba(0,0,0,0.05);
		}

		&:active {
			background-color: $body-bg;
		}

		select {
			height: 35px;
		    box-shadow: none;
		    background: transparent;
		    background-image: none;
		    -webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0px;
			padding: 0 45px 0 10px;
			border: none;
		}

		&.select:after {
			content: '\f078';
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
			position: absolute;
			right: 0px;
			top: 0px;
			width: 35px;
			line-height: 35px;
			text-align: center;
			height: inherit;
			border-left: 1px solid $default-border;
			pointer-events: none;
		}
	}

	#q {
		height: 35px;
		width: 300px;
		border: none;
		margin-left: -4px;
		padding-left: 10px;
		border-right: 1px solid $default-border;
		border-bottom: 1px solid $default-border;
		padding-right: 30px;

		@include breakpoint('mobile-portrait') {
    		width: 212px;
    	}
	}

	#q-button {
		height: 35px;
		width: 35px;
		text-align: center;
		cursor: pointer;
	}

	#q-clear {
		transform: translate(-39px, 0px);
		color: rgba(0,0,0,0.1);
		position: absolute;
		cursor: pointer;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;


		&:hover {
			color: rgba(0,0,0,0.2);
		}
	}
}