.subheader {
	width: calc(100% + 30px);
	height: 36px;
	background-color: #FFF;
	margin-top: -20px;
	margin-left: -15px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 50px;

	a {
		height: inherit;
		padding: 7px 20px;
		display: inline-block;
		border-right: 1px solid #CCC;
		color: #d19b3d;

		&:hover {
			color: #d19b3d;
			text-decoration: none;
			background-color: rgba(0,0,0,0.05);
		}

		&:active {
			background-color: #FFF;
		}
	}

	.holder {
		display: inline-block;
		height: 35px;
		border-right: 1px solid #CCC;
		color: #d19b3d;
		margin-top: 0px;
		vertical-align: top;
		margin-left: -4px;
		position: relative;

		.fa {
			line-height: 36px;
		}

		&:hover {
			background-color: rgba(0,0,0,0.05);
		}

		&:active {
			background-color: #FFF;
		}

		select {
			height: 35px;
		    box-shadow: none;
		    background: transparent;
		    background-image: none;
		    -webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0px;
			padding: 0 45px 0 10px;
			border: none;
		}

		&.select:after {
			content: '\f078';
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
			position: absolute;
			right: 0px;
			top: 0px;
			width: 35px;
			line-height: 35px;
			text-align: center;
			height: inherit;
			border-left: 1px solid #CCC;
			pointer-events: none;
		}
	}

	#q {
		height: 35px;
		width: 300px;
		border: none;
		margin-left: -4px;
		padding-left: 10px;
		border-right: 1px solid #CCC;
		padding-right: 30px;
	}

	#q-button {
		height: 35px;
		width: 35px;
		text-align: center;
		cursor: pointer;
	}

	#q-clear {
		transform: translate(-39px, 0px);
		color: rgba(0,0,0,0.1);
		position: absolute;
		cursor: pointer;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 35px;


		&:hover {
			color: rgba(0,0,0,0.2);
		}
	}
}