.menu {
	background-color: transparent;
	width: auto;
	position: fixed;
	right: 0px;
	top: 50vh;
	margin-top: -50px;
	z-index: 5;
	font-size: 17px;
	text-align: right;

	ul {
		li {
			white-space: nowrap;
			display: block;

			a {
				text-shadow: 2px 2px rgba(255,255,255,0.25);
				display: block;
				padding: 5px 40px;
				transition: all .1s ease-out;

				&:hover {
					padding-right: 80px;
				}
				
			}

			
		}
	}

	.selector {
		width: 14px;
		height: 14px;
		border-radius: 7px;
		border: 1px solid #000;
		margin-right: 5px;
		margin-top: 6px;
		background-color: black;
		display: inline-block;
		float:right;
		box-shadow: 2px 2px rgba(255,255,255,0.25);
	}

	.active {
		.selector {
			background-color: transparent;
		}
	}
}