.wysiwyg, .mce-content-body {
	font-family: $font-family;
	color: inherit;
	font-size: 15px;
	// margin: 20px
	line-height: 140%;

	h1 {
		font-family: $font-family;
		color: inherit;
		font-size: 35px;
		margin: 0 0 20px;
	}

	h2 {
		font-family: $font-family;
		color: inherit;
		font-size: 30px;
		margin: 0 0 20px;
	}

	h3 {
		font-family: $font-family;
		color: inherit;
		font-size: 25px;
		margin: 0 0 10px;
	}

	h4 {
		font-family: $font-family;
		color: inherit;
		font-size: 20px;
		margin: 0 0 10px;
	}

	p {
		font-family: $font-family;
		color: inherit;
		font-size: 15px;
		margin: 0 0 10px;
	}

	a {
		color: inherit;
		text-decoration: underline;
		cursor: pointer;

		&:active {
			color: inherit;
		}

		&:visited {
			color: inherit; 
		}
	}

	strong, b {
		font-weight: bold;
	}

	em, i {
		font-style: italic;
	}

	ul {
		list-style-type: disc;
		margin-bottom: 10px;
		padding-left: 17px;
	}

	ol {
		list-style-type: decimal;
		margin-bottom: 10px;
		padding-left: 17px;
	}

	li {
		padding-left: 10px;
	}

	img {
		border: none;	
		max-width: 100% !important;	
		height: auto;
		margin: 10px;

		&.full {
			width: 100%;
			margin: 10px auto;
		}

		&.left {
			margin: 5px 10px 5px 0;
			float: left; 
		}

		&.right {
			margin: 5px 0 5px 10px;
			float: right; 
		}
	}

	.iframe {
		@include aspect-ratio(56.25%);

		> iframe, .mce-object-iframe {
			position: absolute;
			width: 100%;
			border: none;
			display: block;
			height: 100%;
			top: 0%;

			iframe {
				width: 100%;
				height: 100%;
			}
		}
		margin-bottom: 10px;
	}
}

.mce-content-body {
	padding: 10px;
}