.wysiwyg, .mce-content-body {
	color: transparent;
	resize: none;

	h1 {
		font-family: 'Open Sans Condensed', sans-serif;
		color: blue;
	}

	h2 {
		font-family: 'Open Sans Condensed', sans-serif;
		color: blue;
	}

	p {
		font-family: 'Open Sans Condensed', sans-serif;
		color: black;
		font-size: 15px;
	}

	p.copy-02 {
		font-family: 'Open Sans Condensed', sans-serif;
		color: black;
		font-size: 15px;
	}
}